*{
    padding: 0;
    margin: 0;
}

.text-carousel{
    text-shadow: #FC0 3px 0 10px !important;
}

.carousel-item{
    text-shadow: #FC0 3px 0 10px !important;

}

.carousel-inner{
    text-shadow: #FC0 3px 0 10px !important;

}

.carousel-caption{
    text-shadow: #FC0 3px 0 10px !important;

}

h1{
    text-shadow: #FC0 5px 5px !important;
}




#navb{
    position: absolute !important;
}

.bg-light{
    background-color: transparent !important;
}

.position-absolute{
    top:0;
    z-index: 2;
}

