
*{
    padding: 0;
    margin: 0;
}

body{
    background-position: center;
    background-size: cover;
}

h3{
    border-left: solid 3px red;
    padding-left: 12px;
    margin: 20px;
}



img{
    height: 45% !important;
  
}



h2{
    text-decoration: underline;

}

/*ICOOON*/

.icons{
   
    position: fixed;
    top: 60%;
    left: -32px;
    width:200px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    justify-content: center;
    transform: translate(-70px, 0px);
  
}

.icons a:hover{
    transform: translate(90px, 0px);
    transition: all 0.5s;
}

aside{
   width: 150px;
   position: relative;
   text-align: right;
}

#imgfooter{
    height: 80% !important;
    width: 100% !important;
}



/* ssssssssssssssssssssss*/

#myBtn {
    
    background-color: crimson ; 
    color: white; 
    cursor: pointer;
    height: 70px;
    width:70px;
    margin: 10px;
    margin-top:-70px; 
    padding: 5px; 
    border-radius: 50px; 
    border: black 2px solid;
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: rgb(255, 255, 255); 
    color:red;
    font-weight: bold;
  }

#trouble{
    margin-right: 0;

}

/*icoooon*/

#searchIcon{
    margin-right:30px !important;
}

#env{
    font-size: 20px;
}

#twt{
    color: rgb(81, 188, 230) !important;
}

#linkd{
    color: rgb(34, 65, 112) !important;
}

#gpl{
    color: rgb(235, 46, 46) !important;
}

#yout{
    color: rgb(201, 20, 20) !important;
}

#fbf{
    color: white;
    background-color:  rgb(25, 84, 172);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 20px;
  

}

#twt2{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(81, 188, 230);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 20px;
   
}

#linkd2{
    color: rgb(255, 255, 255) !important;
    background-color:rgb(34, 65, 112);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 20px;
}

#gpl2{
    color: rgb(255, 255, 255) !important;
    background-color:  rgb(235, 46, 46);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 20px;
}

#yout2{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(201, 20, 20);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-right: 20px;
}

/* NAV */


#ii{
    background-color: rgba(24, 24, 24, 0.200) !important;
    border-radius: 11px;
    text-shadow: aliceblue 1px 1px 3px;

}



#iii{
    background-color: rgba(24, 24, 24, 0.200) !important;
    border-radius: 11px;
    text-shadow: rgb(21, 23, 26) 1px 1px 2px;

}

#iiii{
    background-color: rgba(24, 24, 24, 0.200) !important;
    padding-left: 5px !important;
    border-radius: 11px;
    text-shadow: rgb(21, 23, 26) 1px 1px 2px;


}

#iiiii{
    background-color: rgba(24, 24, 24, 0.200) !important;
    padding-left: 5px !important;
    border-radius: 11px;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;

}

#iiiiii{
    background-color: rgba(24, 24, 24, 0.200) !important;
    padding-left: 5px;
    border-radius: 11px;
    text-shadow: rgb(21, 23, 26) 1px 1px 2px;

}

#iiiiiii{
    background-color: rgba(24, 24, 24, 0.200) !important;
    border-radius: 11px;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;

}

#iiiiiiii{
    background-color: rgba(24, 24, 24, 0.200) !important;
    
    border-radius: 11px;
    text-shadow: rgb(0, 0, 0) 1px 1px 2px;

    
}

.card{
    box-shadow: black 1px 1px 8px;
}